.photo-row {
  .info {
    position: relative;
    width: 100%;
    transition: height 0.4s, opacity 0.3s;
    overflow: hidden;

    &.inactive { height: 0; opacity: 0; }
    &.active { height: 180px; opacity: 1; }
  }
}

.sliding-info {
  border: 1px solid #ddd;
  border-radius: 3px;
  margin-top: 5px;
  padding: 10px;
  position: absolute;
  width: 100%;
  box-sizing: border-box;

  .close {
    position: absolute;
    top: 7px;
    right: 7px;
    color: #aaa;
    cursor: pointer;
  }

  .split, .split-mobile {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .split-mobile { display: none; }

  table {
    border-collapse: separate;
    border-spacing: 12px 3px;
    margin-right: 40px;

    td {
      line-height: 1.3;

      &:first-child {
        font-weight: bold;
        text-align: right;
      }
    }
  }

  .buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    & > button {
      margin: 12px 5px 0 5px;
    }
  }
}

@media (max-width: 1000px) {
  .photo-row .info.active {
    height: 286px;
  }
  .sliding-info .split { display: none; }
  .sliding-info .split-mobile { display: flex; }
}
