$img-width: 170px;

.profile {
  width: 320px;
  box-shadow: 1px 1px 9px rgba(60,60,60,0.3);
  display: flex;
  flex-direction: column;
  align-items: center;

  .profile-image {
    position: relative;
    height: $img-width;
    width: $img-width;
    overflow: hidden;
    border-radius: 5000px;
    box-shadow: 1px 1px 6px rgba(0,0,0,0.5);
    margin: 30px 5px;

    img {
      position: absolute;
      height: $img-width;
      width: $img-width;
    }
  }

  .name {
    margin: 2px 10px;
    h1 {
      font-size: 32px;
      font-weight: 300;
    }
  }
}