.insights {
  display: flex;
  @media (max-width: 830px) {
    width: 100%;
    flex-wrap: wrap;
  }

  div {
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;

    @media (max-width: 830px) {
      width: 100%;
    }

    h3 {
      font-family: 'Raleway', serif;
      font-weight: 300;
      text-align: center;
      margin-bottom: 40px;

      @media (max-width: 830px) {
        display: none;
      }
    }

    .graph-cont {
      flex-shrink: 0;
      width: 100%;
      margin-bottom: 70px;

      .graph-desc {
        font-family: 'Raleway', serif;
        margin-top: 10px;
        height: 30px;
      }
    }
  }
  @media (min-width: 831px) {
    .buyer {
      margin-right: 20px;
    }
    .seller {
      margin-left: 20px;
    }
  }
}
