.transaction-el {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 1px 1px 9px rgba(60,60,60,0.3);
  border-radius: 4px;
  height: 50px;
  margin-bottom: 13px;

  .left-data {
    width: 300px;

    .date {
      margin-left: 10px;  
    }

    .item-name {
      margin-left: 10px;
      font-weight: 700;
    }
  }

  .purchase-arrow, .sale-arrow {
    height: 80%;
    -webkit-filter: drop-shadow( 3px 3px 2px rgba(0, 0, 0, .2));
    filter: drop-shadow( 3px 3px 2px rgba(0, 0, 0, .2));
  }

  .sale-arrow {
    transform: rotate(180deg);
  }

  .price {
    margin-right: 10px;
  }
}

.no-transactions {
  box-shadow: 1px 1px 9px rgba(60,60,60,0.3);
  border-radius: 4px;
  width: 100%;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;

  span {
    font-size: 25px;
    font-family: 'Raleway', serif;
  }
}
