.login {
  background-image: url('../../../../assets/images/field-5.jpg');
  background-size: cover;
  background-position: 50% 0%;
  position: relative;
  height: 100vh;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .login-form {
    background-color: rgba(255, 255, 255, .9);
    padding-bottom: 20px;

    .title-cont {
      background-color: #ed7923;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 40px;
      .logo {
        margin-top: 10px;
        width: 70px;
        height: 70px;
      }

      h1 {
        color: #e4e2e5;
        font-weight: 300;
        font-size: 40px;
      }
    }
  }

  input {
    border: 1px solid rgba(255,255,255,0.5);
    border-radius: 2px;
    background-color: rgba(204,204,204,0.95);
    color: #1d1c1b;
    font-size: 15px;
    padding: 10px 16px;
    width: 280px;
    margin: 18px;
    outline: none;
    margin-bottom: 30px;

    &::placeholder {
      color: #4f4e4c;
    }
  }

  button {
    display: block;
    margin: auto;

    font-size: 19px;
    width: 312px;
    height: 35px;
    cursor: pointer;
    border: none;
    color: white;

    background-color: #ed7923;
    transition: background-color .2s;
  }

  button:hover {
    background-color: #dc530e;
  }

  .failure {
    display: block;
    text-align: center;
    color: red;
    width: 100%;
    margin-top: 20px;
  }
}