.list-element {
  align-items: center;
  border-top: 1px solid #ccc;
  display: flex;
  flex-direction: row;
  padding: 6px 12px;

  &:first-child {
    border-top: none;
  }

  .img-wrapper {
    width: 200px;
    > img {
      display: block;
      height: 100px;
      margin: auto;
    }
  }

  form {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    justify-content: center;

    input {
      display: inline-block;
      flex-grow: 1;
      font-size: 16px;
      padding: 4px 6px;
      margin: 5px;
      max-width: 300px;
    }

    .button-container {
      width: 75px;

      button {
        display: block;
        margin-left: auto;
        margin-right: auto;
      }

      img {
        display: block;
        margin: auto;
        width: 30px;
      }

      &.loading { button { display: none; } }
      &.ready { img { display: none; } }
    }
  }
}