a.photo {
  box-sizing: border-box;
  cursor: default;
  display: inline-block;
  margin: 2px;
  transition: opacity 0.5s;
  position: relative;

  &.ready { opacity: 1; }
  &.loading { opacity: 0; }

  > img {
    cursor: pointer;
    max-width: 100%;
    vertical-align: middle;
    position: relative;
    z-index: 3;
  }

  .description {
    background-color: rgba(0,0,0,0.6);
    height: 36px;
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 5;

    p {
      padding-left: 8px;
      color: white;
      line-height: 36px;
    }
    strong { font-weight: bold; }
  }
}
