$black: #171717;

.navbar {
  background-color: transparent;
  transition: background-color 0.3s;
  z-index: 100;

  .logo h3 {
    color: black;
    display: inline;
    font-size: 22px;
    font-weight: 400;
    text-transform: uppercase;
    // text-shadow: 1px 1px 3px rgba(0,0,0,0.8);

    span { font-weight: 700; }
  }

  & > a {
    border-bottom: 2px solid rgba(0,0,0,0);
    color: black;
    font-size: 14px;
    text-transform: uppercase;
    transition: border-color 0.3s;
    // text-shadow: 1px 1px 3px rgba(0,0,0,0.8);

    &:hover { border-color: #CCC; }
    &.active {
      border-color: $black;
    }
  }

  &.scrolled {
    box-shadow: 0px 3px 8px rgba(0,0,0,0.3);

    background-color: $black;
    .logo h3 { color: white; }
    & > a {
      color: white;
      &.active { border-color: white; }
    }
  }
}

@media (max-width: 600px) {
  nav.navbar {
    padding: 0 25px;
    & > a { margin: 0 13px; }
  }
}